div {
    border: 1px black solid;
}

.top-banner, .bottom-banner  {
    height: 40px;
    width: 100%;
}

.top-banner {
    margin-bottom: 10px;
}

.bottom-banner {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

.game-assets {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}

.game-assets div {
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
}

.side-panel {
    width: 200px;
}

.game-panel {
    width: 500px;
}